# Entorno virtual
venv/
.env/

config.yaml

# Archivos de cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de configuración locales
*.env
*.sqlite3

# Archivos de sistema
.DS_Store
Thumbs.db
